 {
  border: .5px solid red;
}

body {
  background-color: rgb(178, 192, 164);
}

#container {
  width: 100%;
}

.content {
  width: 63%;
  display:inline-block;
  margin-left: 6px;
}

.bio {
  width: 34%;
  display:inline-block;
  float:right;
  text-align: center;
  margin: 0px 6px 6px 6px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.catch-phrase {
  color:#555;
}

ul {
  list-style-type: none;
}
